<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $_helperProductVariant = $this->helper('bitbull_productvariant');
    $productVariantsWithData = $_helperProductVariant->getProductVariants($_productCollection);
    $hasVariants = false;
    $variantActiveClass = "";
    $currentCategory = ($this->getLayer()->getCurrentCategory())?$this->getLayer()->getCurrentCategory():false;
    $moodName = $_helperProductVariant->getMoodNameFromCategory($currentCategory);
    $today = strtotime(now());
?>
<!-- pulsante back to top -->
<a href="#0" class="cd-top">Top</a>

<?php  echo $this->getChildHtml('category_extra_info') ?>

<?php if (!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <div class="category-products">
        <?php echo $this->getToolbarHtml() ?>
        <?php // List mode ?>
        <?php if ($this->getMode() != 'grid'): ?>
            <?php $_iterator = 0; ?>

            <ol class="products-list" id="products-list">
                <?php foreach ($_productCollection as $_product):
                    $_product = $_helperProductVariant->getCurrentColorProduct($_product, $_helperProductVariant, $moodName);
                    ?>
                    <li class="item<?php if (++$_iterator == sizeof($_productCollection)): ?> last<?php endif; ?>">

                        <?php // Product Image
                        ?>
                        <div class="product-image">

                            <a href="<?php echo $_product->getProductUrl() ?>"
                               title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                               class="product-image">
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(206); ?>"
                                     alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                                     class="image-lazyload"/>
                            </a>
                            <div class="stickers">
                                <?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_YOUR_LOGO) == 1): ?>
                                <span class="eu_stickers attr-logo"></span><?php endif ?><!--Non rimuovere commenti
                        --><?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_ART_SHOP) == 1): ?>
                                <span class="eu_stickers attr-art"></span><?php endif ?><!--
                        --><?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_BIO) == 1): ?>
                                <span class="eu_stickers attr-bio"></span><?php endif ?><!--
                        --><?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_BEST_PRICE) == 1): ?>
                                <span class="eu_stickers attr-b-price"></span><?php endif ?><!--
                        --><?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_BEST_SELLER) == 1): ?>
                                <span class="eu_stickers attr-b-seller"></span><?php endif ?><!--
                        --><?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_NEW) == 1): ?>
                                    <span class="eu_stickers attr-new"></span><?php endif ?>
                            </div>
                        </div>
                        <?php // Product description
                        ?>

                        <div class="product-shop">
                            <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                            <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"
                                                        title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></a>
                            </h2>
                            <?php if ($_product->getRatingSummary()): ?>
                                <?php echo $this->getReviewsSummaryHtml($_product) ?>
                            <?php endif; ?>
                            <?php // echo $this->getPriceHtml($_product, true)
                            ?>

                            <?php if ($_product->hasData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA)): ?>
                                <?php 
                                
                                /* AUA - mod show price vat included if in session is stored custom config */
                                $temp_conf = Mage::getSingleton('core/session')->getTemporaryTaxDisplay();
                                if ($temp_conf == 2) {
                                	$pricefrom = ((FLOAT) ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA))*1.22);
                                } else {
                                	$pricefrom = $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA);
                                }
                                
                                
                                ?>
                                <span class="price"> Da <strong><?php echo Mage::helper('core')->currency($pricefrom, true, false); ?> </strong></span>
                            <?php endif; ?>


                            <div class="desc std">
                                <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?php echo $_product->getProductUrl() ?>"
                                   title="<?php echo $_productNameStripped ?>"
                                   class="link-learn"><?php echo $this->__('Learn More') ?></a>
                            </div>
                        </div>

                        <?php if ($_product->isSaleable()): ?>
                            <p>
                                <button type="button" title="<?php echo $this->__('Acquista') ?>"
                                        class="button btn-cart"
                                        onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                    <span><span><?php echo $this->__('Acquista') ?></span></span></button>
                            </p>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span>
                            </p>
                        <?php endif; ?>
                        <div class="clearfix"></div>

                    </li>

                <?php endforeach; ?>
            </ol>
            <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

        <?php else: ?>

        <?php // Grid Mode ?>

        <?php //show custom blocks: showcase & bestprice ?>
        <?php echo $this->getChildHtml("catalog.category.showcase"); ?>
            <div class="best-price">
                <?php echo $this->getChildHtml("catalog.category.bestprice"); ?>
            </div>
            <div class="clearfix"></div>

        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount(); ?>
        <?php $i = 0;
        foreach ($_productCollection as $_product):
        $_product = $_helperProductVariant->getCurrentColorProduct($_product, $_helperProductVariant, $moodName);

        ?>
        <?php if ($i++ % $_columnCount == 0): ?>
            <ul class="products-grid">
        <?php endif ?>
            <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">

                <?php //Dan Nistor - product variant
                $hasVariants = false;
                $variantActiveClass = "";

                if (is_array($productVariantsWithData)
                    && array_key_exists(
                        $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_GROUPING),
                        $productVariantsWithData
                    )
                ) :
                    $productVariants = $productVariantsWithData[$_product->getData(
                        Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_GROUPING
                    )];
                    ?>
                    <?php if (count($productVariants) == 1) : ?>
                    <?php if ($productVariants[0]["id"] != $_product->getEntityId()): ?>
                        <?php $hasVariants = true; ?>
                    <?php endif; ?>
                <?php else : ?>
                    <?php $variantActiveClass = "variant-active"; ?>
                    <?php $hasVariants = true; ?>
                <?php endif; ?>
                <?php endif; ?>

                <div class="inner <?php echo $variantActiveClass ?>">
                    <a href="<?php echo $_product->getProductUrl() ?>"
                       title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                       class="product-image">


                       <?php if ($_product->hasData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_DISCOUNT) && $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_DISCOUNT) != NULL): ?>
                            <div class="percentage">
                            -<?php echo $this->escapeHtml( $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_DISCOUNT)); ?>%
                            </div>
                        <?php endif; ?>

                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(366); ?>"
                             alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                             class="product-base-image image-lazyload" width="250" height="250"/>
                    </a>
                    <h2 class="product-name">
                        <a href="<?php echo $_product->getProductUrl() ?>"
                           title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                            <?php echo $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_GROUPING_DESC); ?>
                        </a>
                    </h2>

                 <!-- data scadenza promo -->
                    <?php if($_product->hasData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_SCONTO_SCADENZA) && strtotime($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_SCONTO_SCADENZA)) >= time()):?>

                        <div class="list-date">
                     <img src=" <?php echo $this->getSkinUrl('images/time.png') ?>" width="15" />   <?php echo   ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_SCONTO_SCADENZA))?"-".(ceil((abs(strtotime($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_SCONTO_SCADENZA)) - $today)) / 86400) )." Giorni":""  ?>
                 </div>
                    <?php endif; ?>
                  <!-- // -->

                    <?php if ($_product->getRatingSummary()): ?>
                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    <?php endif; ?>

                    <?php
                    $currencySymbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                    
                    
                    /* AUA - mod show price vat included if in session is stored custom config */
                    $temp_conf = Mage::getSingleton('core/session')->getTemporaryTaxDisplay();
                    
                    if ($temp_conf == 2) {
                    	if ($_product->hasData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA_TXT) && $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA_TXT) != null) {
                    		 
                    		$pricefrom = $this->escapeHtml($currencySymbol . ' ' . ((FLOAT) $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA_TXT)*1.22));
                    		 
                    	} elseif ($_product->hasData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA)) {
                    		$pricefrom = $this->helper('core')->formatPrice((FLOAT) ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA)*1.22), false);
                    		 
                    	}
                    } else {
                    	if ($_product->hasData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA_TXT) && $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA_TXT) != null) {
                    	
                    		$pricefrom = $this->escapeHtml($currencySymbol . ' ' . $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA_TXT));
                    	
                    	} elseif ($_product->hasData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA)) {
                    		$pricefrom = $this->helper('core')->formatPrice($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA), false);
                    	
                    	}
                    }
                    
                    
                    
                    
                    
                    ?>
                    <?php if ($_product->hasData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA_SCO) && $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA_SCO) != null && $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA_SCO) != "0"):
                        $specialPriceFrom = $this->escapeHtml($currencySymbol . ' ' . $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_A_PARTIRE_DA_SCO));
                        ?>
                        <span class="price special-minimal">
                            da
                            <span class="old-price">
                                <span class="price">
                                    <?php echo $pricefrom; ?></span>
                            </span><strong> <?php echo $specialPriceFrom; ?></strong>
                        </span>


                    <?php else : ?>
                        <span class="price"> Da <strong><?php echo $pricefrom; ?> </strong></span>
                    <?php endif; ?>

                    <?php if ($hasVariants) : ?>
                        <?php if (count($productVariants) == 1) : ?>
                            <?php if ($productVariants[0]["id"] != $_product->getEntityId()): ?>
                                <div class="product-variants">
                                    <a href="<?php echo $productVariants[0]["url"] ?>"
                                       title="<?php echo $productVariants[0]["name"] ?>" class="variant-image">
                                        <img src="<?php echo $productVariants[0]["thumbnail"] ?>"
                                             alt="<?php echo $productVariants[0]["name"] ?>" class="image-lazyload"
                                             width="65" height="65"/>
                                    </a>
                                </div>
                            <?php endif; ?>
                        <?php elseif (count($productVariants) > 1) : ?>
                            <div class="product-variants infinite-carousel">
                                <div class="viewport">
                                    <div class='list'>
                                        <?php foreach ($productVariants as $variant) : ?>
                                            <?php if ($variant["id"] != $_product->getEntityId()): ?>
                                                <a href="<?php echo $variant["url"] ?>"
                                                   title="<?php echo $variant["name"] ?>"
                                                   class="variant-image">
                                                    <img src="<?php echo $variant["thumbnail"] ?>"
                                                         alt="<?php echo $variant["name"] ?>" class="image-lazyload"
                                                         width="65" height="65"/>
                                                </a>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </div>
                                </div>
                                <?php if (count($productVariants) > 4) : ?>
                                    <i class="pre fa fa-chevron-down"></i>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>

                    <?php $linkTesto = Mage::helper('bitbull_catalog')->getTestoLinkProductList($_product);

                    if ($linkTesto):?>
                        <a class="link"
                           href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__($linkTesto) ?></a>
                    <?php endif; ?>
                    <div class="stickers">
                        <?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_YOUR_LOGO) == 1): ?>
                        <span class="eu_stickers attr-logo"></span><?php endif ?><!--Non rimuovere commenti
                        --><?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_ART_SHOP) == 1): ?>
                        <span class="eu_stickers attr-art"></span><?php endif ?><!--
                        --><?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_BIO) == 1): ?>
                        <span class="eu_stickers attr-bio"></span><?php endif ?><!--
                        --><?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_BEST_PRICE) == 1): ?>
                        <span class="eu_stickers attr-b-price"></span><?php endif ?><!--
                        --><?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_BEST_SELLER) == 1): ?>
                        <span class="eu_stickers attr-b-seller"></span><?php endif ?><!--
                        --><?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_NEW) == 1): ?>
                            <span class="eu_stickers attr-new"></span><?php endif ?>
                    </div>

                </div>
            </li>
            <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
            <div class="clearfix"></div>
            </ul>
        <?php endif ?>
        <?php endforeach ?>

            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>
        <?php endif; ?>
    </div>
    <div class="toolbar-bottom"><?php echo $this->getToolbarHtml() ?></div>
<?php endif; ?>
