<?php
$_product = $this->getProduct();
$helper = $this->helper('catalog/output');
$groupedCustomOptions = "";
if($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_CHILDREN_CUSTOM_OPTIONS)){
    $groupedCustomOptions = Mage::helper('catalog')->getGroupedCustomOptionsAsArray($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_CHILDREN_CUSTOM_OPTIONS));
}
$groupedSimpleInfo = Mage::helper('catalog')->getAssociatedProductInfoAsArray($_product, $this);
$configurableInfo = Mage::helper('catalog')->getConfigurableInfo($_product);

$prefixImg = 'IMG-MISURE-';

$tooltipMsg = $this->__("Clicca qui se vuoi essere avvertito quando è di nuovo disponibile");

?>
<script type="text/javascript">
    var spConfig = <?php echo json_encode($groupedCustomOptions); ?>;
    spConfig.hasProps = function () {
        for (var key in spConfig) {
            if (spConfig.hasOwnProperty(key)) {
                return true;
            }
        }
    }();
    key = '<?php echo key($groupedSimpleInfo)?>';
    var simpleInfos = <?php echo json_encode($groupedSimpleInfo); ?>;
    var configurableInfos =  <?php echo json_encode($configurableInfo); ?>;
    var MainImgSrc = jQuery('img.main-img').attr('src');
    var MainLargeImgSrc = jQuery('Zoomer').attr('href');
    url = window.location.href;
    var settedSize = false;
    if ((url.lastIndexOf('#')) > 0) {
        settedSize = url.substring(url.lastIndexOf('#') + 1, url.length);
    }
    var productSizeNumber = '<?php echo $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_NUMERO_MISURE) ?>';
    var productDiscount = '<?php echo $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_DISCOUNT); ?>';
</script>

<div class="personalizzati-tierprices"></div>

<?php 
/* AUA - mod show price vat included if in session is stored custom config */
$temp_conf = Mage::getSingleton('core/session')->getTemporaryTaxDisplay();
if ($temp_conf != 2):                       
?>
<div class="price-box">
    <small class="exl-vat"><?php echo $this->__('Tutti i prezzi sono iva esclusa') ?></small>
</div>
<?php endif; ?>

<div class="print-color">
    <?php $_subAssociatedProducts = $_product->getTypeInstance(true)->getAssociatedProducts($_product); ?>

    <?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_NUMERO_MISURE) < 2) { ?>
        <select id="grouped_products" name="grouped_products"
                onchange="addSuperQty('<?php echo $_product->getId() ?>',this.value);" style="display:none">
            <option selected="selected" value="<?php echo $_subAssociatedProducts[0]->getId() ?>"
                    rel="<?php echo $_subAssociatedProducts[0]->getSku(); ?>"
                    id="<?php echo number_format($_subAssociatedProducts[0]->getFinalPrice(), 2); ?>">
                <?php echo $this->htmlEscape($_subAssociatedProducts[0]->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_SIZE)) ?>
            </option>
        </select>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                ajaxcart.updateInfo('<?php echo $_subAssociatedProducts[0]->getSku()?>');
                <?php if(!$_subAssociatedProducts[0]->getIsSalable() && !$_subAssociatedProducts[0]->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_DATA_ARRIVO)) :?>
                jQuery('.addtocart-box .actions').hide();
                <?php endif; ?>
            });
        </script>
    <?php } elseif (count($_subAssociatedProducts) != 1) { ?>
        <label for="misure"><?php echo $helper->__('Misure') ?> :</label>

    <?php foreach ($_subAssociatedProducts as $_item) { ?>
        <a href="#" onclick="addSuperQty('<?php echo $_product->getId() ?>', '<?php echo $_item->getId() ?>');"
           rel="<?php echo $_item->getSku(); ?>"
           id="<?php echo number_format($_item->getFinalPrice(), 2); ?>">
            <?php
            $valueThumbImage = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_item->getId(), 'thumbnail', $_item->getStoreId());

            if (
                $valueThumbImage != null &&
                $valueThumbImage != 'no_selection'
            ) :
                $_item = Mage::getModel('catalog/product')->load($_item->getId()); ?>
                <div class="img-misure">
                    <img src="<?php echo $this->getSkinUrl("images/current-variant.png") ?>" class="current-icon" />
                    <img id='<?php echo $prefixImg . $_item->getSku(); ?>'
                     onclick="addSuperQty('<?php echo $_product->getId() ?>','<?php echo $_item->getId() ?>');"
                     src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(130); ?>"
                     alt="<?php echo $this->htmlEscape($_item->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_SIZE)) ?>"/> <br/>
                    <?php echo $this->htmlEscape($_item->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_SIZE)) ?> <br/>
                    <?php echo $_item->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_EXTRA_COLUMN)?>
                </div>
            <?php else : ?>
                <span class="label">
                    <?php echo $this->htmlEscape($_item->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_SIZE)) ?> <br/>
                    <?php echo $_item->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_EXTRA_COLUMN)?>
                </span>
            <?php endif; ?>
        </a>
    <?php } ?>
    <?php if ($_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_GUIDA_ALLE_TAGLIE) && $_product->getData(Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_GUIDA_ALLE_TAGLIE) != "no_selection") : try{
        $guidaTaglieImageUrl = $this->helper('catalog/image')->init($_product, Bitbull_EurofidesCore_Helper_Data::PRODUCT_ATTRIBUTE_STICKER_GUIDA_ALLE_TAGLIE)->keepFrame(false) ->resize(800);
    }
    catch(Exception $e) {
        Mage::logException($e);
    }
    if(isset($guidaTaglieImageUrl)):
    ?>
        <div id="guida-taglie-container"><a href="#" data-toggle="modal"
                                            data-target="#modale-taglie"><?php echo $helper->__('Guida alle misure') ?></a>
            <!-- Modal -->
            <div class="modal fade" id="modale-taglie" tabindex="-1" role="dialog"
                 aria-labelledby="taglieLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img
                                src="<?php echo $guidaTaglieImageUrl ?>"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php endif; ?>
    <?php endif; ?>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                ajaxcart.updateInfo('');
            });
        </script>


    <?php } ?>
</div>
