<?php

/** @var Algolia_Algoliasearch_Helper_Config $config */
$config = Mage::helper('algoliasearch/config');

/** @var Mage_CatalogSearch_Helper_Data $catalogSearchHelper */
$catalogSearchHelper = $this->helper('catalogsearch');

$placeholder = $this->__('Search entire store here...');

/** Render form with autocomplete input **/
if ($config->isDefaultSelector()): ?>
    <form id="search_mini_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
        <div id="algolia-searchbox">
            <label for="search"><?php echo $this->__('Search:') ?></label>
            <input id="search" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" class="input-text algolia-search-input" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" placeholder="<?php echo $placeholder; ?>" />
            <!--  <span class="clear-cross clear-query-autocomplete"></span> -->
            <!--  <span id="algolia-glass" class="magnifying-glass" width="24" height="24"></span> -->
            <button type="submit" title="Cerca" class="btn">
                    <i class="fa fa-search hidden-xs"></i>
                    <i class="fa fa-angle-right visible-xs"></i>
                </button>
        </div>
    </form>
<?php endif; ?>